{{ form_start(form, {method: 'POST', action: path('comment_create', {'slug': post.slug})}) }}

<!-- Comment Form -->
<div class="comment-form-container">
    <h6>Leave a Comment</h6>
    {{ form_widget(form) }}
</div>

{{ form_end(form) }}