{{ form_start(createComment_form, {method: 'POST', action: path('comment_create', {'id': post.id})}) }}

<fieldset>
    <div class="form-group">
          {{ form_widget(createComment_form) }}
    </div>
</fieldset>
{{ form_end(createComment_form) }}
