{{ form_start(form, {method: 'POST', action: path('comment_create', {'id': post.id})}) }}

<fieldset>
    <div class="form-group">
        {{ form_widget(form) }}
    </div>
</fieldset>
{{ form_end(form) }}
